@media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
    .logo-header {
        margin-right: 120px;
      }
      .vmist-header
      {
        height: 72px;
      }
      .menu-button {
        display: none;
      }
      .link-font {
        display: flex;
      }
      .link-adress {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: 12px;
      }
      .titel-style {
        padding: 112px 0;
      }
      .h-text {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
      }
      .advantage-items{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 768px;
      }
      .advantage-size
        {
            width: calc((100% - 24px) / 2);
          }
      